div.addSquawk{
	background: #ffffff;
	font-family: "Ariel"
	font-size: 20px;
}

div.seeSquawks{
	background: #ffffff;
	font-family: "Ariel"
	font-size: 20px;
}

div.area{
	background: #ffffff;
	font-family: "Ariel"
	font-size: 20px;
}

