<% @squawks.each do |squawk| %>
  <div class="squawk">
    <p class="author"><%= squawk.author %></p>
    <p class="content"><%= squawk.content %></p>
    <p>
      <% if squawk.image_url != "" %>
        <img class="image" src="<%= squawk.image_url %>">
      <% end %>
    </p>
    <a href="/squawks/<%= squawk.id %>">View</a>
  </div>
<% end %>
