<!DOCTYPE html>
<html>
<head>
  <title>SquawkerApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div id="header">
      <a href="/squawks"><h1>Squawker</h1></a>
      <a href="/squawks/new">New Squawk</a>
    </div>
    <div id="main">
      <%= yield %>
    </div>
    <div id="footer">
      <a href="#">About</a> |
      <a href="#">Help</a> |
      <a href="#">Terms</a> |
      <a href="#">Privacy</a> |
      <a href="#">Developer</a> |
      <a href="#">Jobs</a>
    </div>
  </div>
</body>
</html>
