<!DOCTYPE HTML>
<html>


     <div>
            <div>
                <h1>Welcome to Squawker!</h1>
                <h2>What's your latest squawk?</h2>
                <form method = "post">
                          <textarea id="msg" name = "msg" maxlength="140"></textarea>
                <br>
                <button type="submit" >Post!</button>
                </form>
            </div>

            <div>
                <h3>Look at what you've recently Squawked about!</h3>
            </div>

            <div>
                {% for squawk in squawks %}
                    <p>{{ squawk }}</p>
                {% endfor %}
            </div>
      </div>

</body>

</html>