<!DOCTYPE HTML>
<html>
<head>
	<title>Squawker</title>
</head>
<body>

	<div id="squawks">
		<p>Squawks number: {{num_squawks}}</p>
		{% if pageN > 1 %}
			<a href="/page/{{ pageN-1 }}">Previous Page</a>
			&nbsp
		{% endif %}
		<a href="/page/{{ pageN+1 }}">Next Page</a>
		<br>
		{% for squawk in loadSquawks(pageN) %}
    		<br>
    		<div>{{ squawk[0] }}</div>
		{% endfor %}
		{% if pageN > 1 %}
			<a href="/page/{{ pageN-1 }}">Previous Page</a>
			&nbsp
		{% endif %}
		<a href="/page/{{ pageN+1 }}">Next Page</a>
	</div>

	<br><br>

	<form action="/" method="post">
		<div>
    		<label for="msg">Type in your post:</label>
            <br>
    		<textarea id="msg" name="squawk_msg" maxlength="140"></textarea>
		</div>
		<div class="button">
			<button type="submit">Post</button>
		</div>
	</form>

</body>
</html>
