<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Squawker</title>

</head>

<body>
  <div>
    <h2>Squawker</h2>

    {% for squawk in squawks %}
    <div>
      <div># {{ squawk[0] }}</div>
      <div><p>{{ squawk[1] }}</p></div>
    </div>
    {% endfor %}

    <div>
      <div>
        <form action="add/" method="post">

          <label for="new_body">New Post</label>

          <textarea placeholder="Type post..." name="new_body" id="new_body"  maxlength="140" ></textarea>

          <input type="submit" value="Submit">

        </form>
      </div>
    </div>
  </div>
</body>
</html>