<!doctype html>
<title>ddc88 squawker</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='foundation.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='foundation.min.css') }}">
<link href="https://fonts.googleapis.com/css?family=Josefin+Slab:400,600|Raleway" rel="stylesheet">
<div class="row">
  <div class="columns large-12">
  	<h1>Squawker</h1>
  </div>
  {% block body %}{% endblock %}

</div>