{% extends "base.html" %}

{% block body %}

    <form action="{{ url_for('add_squawk') }}" method ="post">
    	<dl>
    		<dt>Title:
			<dd><input type="text" size="30" name="title">
			<dt>Text:
			<dd><textarea name="text" rows="5" maxlength="140"></textarea>
			<dd><input type="submit" value="Share">
    	</dl>
	</form>

	
    <ul class= "form-group">
	    {% for squawk in entries %}
	    	<li><h2>{{ squawk.0}}</h2>{{squawk.1|safe}}</li>
	    {% else %}
	    	<li><em>No squawks for this session!</em></li>
	    {% endfor %}
	</ul>


{% endblock %}