<form action="/squawks/<%= @squawk.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <div class="form-field">
    <input type="text" name="squawk[author]" placeholder="Author" value="<%= @squawk.author %>">
  </div>

  <div class="form-field">
    <textarea name="squawk[content]" placeholder="Content"><%= @squawk.content %></textarea>
  </div>

  <div class="form-field">
    <input type="text" name="squawk[image_url]" placeholder="Image URL (optional)" value="<%= @squawk.image_url %>">
  </div>

  <div class="form-field">
    <button>Update Squawk!</button>
  </div>
</form>
