<form action="/squawks" method="post">
  <div class="form-field">
    <input type="text" name="squawk[author]" placeholder="Author">
  </div>

  <div class="form-field">
    <textarea name="squawk[content]" placeholder="Content"></textarea>
  </div>

  <div class="form-field">
    <input type="text" name="squawk[image_url]" placeholder="Image URL (optional)">
  </div>

  <div class="form-field">
    <button>Squawk!</button>
  </div>
</form>
